{% load static %}
{% include 'base/header.html' %}
<body>
	<div class="container-fluid">
        <div class="row">
        <div class="col-md-5 col-lg-offset-3">
              <center><h2>Create New Post </h2></center>
            <br>
            <h3> Author: {{ user.get_full_name }}</h3>
              <form action="" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}

                {% for field in form %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}

                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                              </p>
                {% endfor %}
                <button type="submit" class="btn btn-success">Create</button>
                <p class="btn btn-warning"><a href="{% url 'profile' %}">Cancle</a></p>
              </form>



        </div>
    </div>

	</div>

	{% include 'base/footer.html' %}

	</body>
</html>

