{% extends 'base/base.html' %}
{% load static %}
{% block nav  %}

<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Menu</h3>
				<ul>
					<li><a href="{% url 'index' %}">Blog</a></li>
					{% if user.is_authenticated %}

                        <li><a href ="{% url 'profile' %}"> {{ user.get_full_name }} </a></li>
                        <li><a href ="{% url 'logout' %}"> Log out </a></li>
                        {% else %}

                        <li><a href ="{% url 'login' %}"> Log in </a></li>

                    {% endif %}

				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="" method="get">
					<div class="form-group">
						<input type="text" class="form-control" name="q" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
</div>




{% endblock %}
{% block container %}
    <div class="row fh5co-post-entry">

    <!---- Message Show ---->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

    <!---- Message Show ---->
			{% for post in posts %}

                <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure >
					<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive" height="108"></a>
				</figure>
				<h4 class="fh5co-meta"><a href="{% url 'type' name=post.category.name %}">{{ post.category.name }}</a></h4>
				<h4 class="fh5co-article-title"><a href="{% url 'single_post' id=post.id %}">{{ post.title  }}</a></h4>
				<h5 class="fh5co-meta fh5co-date">{{ post.create_at }}</h5>
			</article>

            {% endfor %}

		</div>
        <div class="col-sm-3 col-lg-offset-5">
{#            <div class="pagination">#}
{#                    <span class="step-links">#}
{#                        {% if posts.has_previous %}#}
{#                            <a href="?page=1">&laquo; first</a>#}
{#                            <a href="?page={{ posts.previous_page_number }}">previous</a>#}
{#                        {% endif %}#}
{##}
{#                        <span class="current">#}
{#                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.#}
{#                        </span>#}
{##}
{#                        {% if posts.has_next %}#}
{#                            <a href="?page={{ posts.next_page_number }}">next</a>#}
{#                            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>#}
{#                        {% endif %}#}
{#                    </span>#}
{#                </div>#}
        {% if posts.has_other_pages %}
          <ul class="pagination">
            {% if posts.has_previous %}
              <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
{% endblock %}