{% extends 'base/base.html' %}
{% load static %}
{% block nav  %}

<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Menu</h3>
				<ul>
					<li><a href="{% url 'index' %}">Blog</a></li>
					{% if user.is_authenticated %}

                        <li><a href ="{% url 'profile' %}"> {{ user.get_full_name }} </a></li>
                        <li><a href ="{% url 'logout' %}"> Log out </a></li>
                        {% else %}

                        <li><a href ="{% url 'login' %}"> Log in </a></li>

                    {% endif %}

				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="" method="get">
					<div class="form-group">
						<input type="text" class="form-control" name="q" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
</div>




{% endblock %}
{% block container %}
    <div class="row fh5co-post-entry">
        <center><h3>All Posts</h3></center>
			{% for post in posts %}

                <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure >
					<a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive" height="108"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'type' name=post.category.name %}">{{ post.category.name }}</a></span>
				<h2 class="fh5co-article-title"><a href="{% url 'single_post' id=post.id %}">{{ post.title  }}</a></h2>
				<span class="fh5co-meta fh5co-date">{{ post.create_at }}</span>
			</article>

            {% endfor %}
		</div>
{% endblock %}