{% load static %}
{% include 'base/header.html' %}
<body>

{% include 'base/head.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-lg-offset-3">
              <center><h2>User Login</h2></center>
            <br>
             <!---- Message Show ---->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

    <!---- Message Show ---->
              <form action="" method="post">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="email">User Name:</label>
                  <input type="text" class="form-control" id="user" placeholder="Enter User name" name="username">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                  <p class="text-primary" ><a href="{% url 'signup' %}">Create New Account</a></p>
              </form>
        </div>
    </div>
</div>

</body>