

{% extends 'base/base.html' %}
{% load static %}
{% block nav  %}
	<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
				<img src="{{ post.author.profile_image.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Author</h3>
			<h2>{{ post.author.name.get_full_name }}</h2>
			<h2>{{ post.author.name.email }}</h2>
            <p>{{ post.author.details }}</p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block container %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <!---- Message Show ---->
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

            <!---- Message Show ---->
    </div>

		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<figure class="animate-box">
					<img src="{{ post.image.url }}" alt="Image" class="img-responsive">
				</figure>
				<span class="fh5co-meta animate-box"><a href="{% url 'type' name=post.category.name %}">{{ post.category }}</a></span>
				<h2 class="fh5co-article-title animate-box">{{ post.title }}</h2>
				<span class="fh5co-meta fh5co-date animate-box">{{ post.create_at }}</span>

				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
					<div class="row">
						<div class="col-lg-8 cp-r animate-box">
							<p>{{ post.details }}</p>

							</div>
					</div>

				</div>
			</article>
		</div>
        <div class="container">
            <h3 class="well">Comments</h3>
            {% for comment in comments %}
                <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                    <p> {{ comment.author }}  ----- {{ comment.create_at }}</p>
                    <p> {{ comment.comments }}</p>
                </article>
                {% empty %}
                <p>No Comments Found!</p>
            {% endfor %}
         <div class="row">
            <div class="col-md-5 col-lg-offset-3">
                <br>
                  <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Comment</button>
                  </form>
            </div>
         </div>
        </div>
        <div class="container">

            <h3 class="well">Related Post</h3>
            {% for post in related %}

                        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                        <figure>
                            <a href="{% url 'single_post' id=post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
                        </figure>
                        <h2 class="fh5co-article-title"><a href="{% url 'single_post' id=post.id %}">{{ post.title  }}</a></h2>
                        </article>


            {% empty %}
                <p>No Related Found!</p>
            {% endfor %}


        </div>

	</div>
{% endblock %}
